extends ../layout

block content
    h1.
         #{title}
    ul
        - each horse, i in horses
            li
                = horse.name 
                = horse.sex 
                = horse.breeder
                = horse._id
                form(action='/horses/#{horse._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/horses/#{horse._id}/edit') Edit
                p
                    a(href='/horses/#{horse._id}') Show
