extends ../layout

block content
    h1.
        #{title}
    form#formAddHorse(name="addhorse",method="post",action="/horses")
        p Name: 
            input#inputName(type="text", placeholder="ex. John", name="name")
        p Sex:
            input#inputSex(type="checkbox", name="sex")
        p Breeder: 
            input#inputBreeder(type="text", placeholder="ex. John Smith", name="breeder")
        p
            button#btnSubmit(type="submit") submit
