extends ../layout

block content
    h1.
        #{title}
    form#formAddHorse(name="addhorse",method="post",action="/horses")
        p Nazwa: 
            input#inputName(type="text", placeholder="ex. John", name="name")
        p Płeć:
            input#inputSex(type="checkbox", name="sex")
        p Hodowca: 
            input#inputBreeder(type="text", placeholder="ex. John Smith", name="breeder")
        p
            button#btnSubmit(type="submit") Zatwierdź
