<div class="container">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <!-- Button used in smaller resolutions instead of normal menu -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left" href="#"><img src="/img/Logosm.jpg"></a>
    </div>
      
      <!-- Menu itself -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Strona Główna <span class="sr-only">(current)</span></a></li>
        <li><a href="/watcher_p">Aktualne zawody!</a></li>
        <li><a href="/admin_p">Panel administratorski</a></li>
        <li><a href="/judge_p">Panel sędziowski</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>