nav.navbar.navbar-fixed-top
  .navbar-header
    a.navbar-brand Pokaz Koni
    button.navbar-toggle(data-toggle="collapse", data-target=".bs-navbar-collapse")
      i.fa.fa-bars
  .navbar-collapse.collapse.bs-navbar-collapse
    ul.nav.navbar-nav
      li
        a(href="#")
          i.fa.fa-cog
      li
        a(href="/watcher_p") Aktualne zawody!
      li
        a(href="/admin_p") Panel administratorski
      li
        a(href="/judge_p") Panel sędziowski
      li
        a(href="/logout") Wyloguj

