extends ../layout

block content
    h1.
         #{title}
         
    p 
        a(href='/competitions/new') Dodaj nowe zawody
    ul
        - each competition, i in competitions
            li
                = competition.name 
                = competition.competition_date 
                = competition.password
                = competition.judge_val
                = competition.player_val 
                = competition.group_val
                = competition._id
                form(action='/competitions/#{competition._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                       Usuń
                p 
                    a(href='/competitions/start/#{competition._id}') Rozpocznij
                p
                    a(href='/competitions/#{competition._id}') Pokaż
