extends ../layout

block content
    h1.
         #{title}
    
    
    p
      ul
        - each horse, i in horses
            li
                = horse.name + ' - '
                = horse.sex + ': '
                = horse._id

    form(action='/competitions/new_g/#{competition._id}',method='post',name='updateGroups',enctype='application/x-www-form-urlencoded')
     ul
      - for (i=0; i < competition.group_val; i++)
        li.container
            p Nazwa: 
              input#inputName(type="number", name='group_num['+i+']')
            p Płeć w grupie:
              select(name='sex['+i+']')
                option(value="ogier") Ogier
                option(value="klacz") Klacz
            p Lista zawodników w grupie:
                each hor, n in horses
                    input#inputPlayers(type='text', value='none', name='players['+i+']['+n+']')
     p 
        input(type='hidden',value='PUT',name='_method')
     p
        button#btnSubmit(type='submit').
            Dodaj grupy