<div class="page-header">
<h3>Tu będzie panel logowania dla Sędziów</h3>
</div>



<div class="main">
    

<div class="jumbotron col-lg-6 col-md-6 col-sm-8 col-xs-10" id="log_admin">
    <form class="form" method="post" action="#">
        <h2>Zaloguj się do panelu sędziego:</h2><br />
        <label>Login:</label><br />
            <input type="text" name="username" id="username"><br />
        <label>Hasło:</label><br />
            <input type="password" name="password" id="password"><br />
            <input type="button" name="login" id="login" value="Zaloguj"><br /><br />
    </form>
</div>

    
</div>