extends ../layout

block content

    h3 Nie jesteś zalogowany lub upoważniony do tych treści.
    p Zaloguj się na konto z odpowiednimi uprawnieniami aby to obejżeć.
    ul.nav.navbar-nav
      li
        a(href="/") Powrót
      li
        a(href="/judge_p/login") Zaloguj sędziego
      li
        a(href="/admin_p/login") Zaloguj administratora
