extends ../layout

block content
    script(src="/js/com_serv_j.js")

    h3(id='player') Tu będzie panel logowania a potem panel oceniania koni, dla sędziów podczas pokazu
    form
        p Typ:
            input(type='number', name="type", id='type')
        p Głowa i szyja:
            input(type='number', name="head", id='head')
        p Kłoda:
            input(type='number', name="body", id='body')
        p Nogi:
            input(type='number', name="legs", id='legs')
        p Ruch:
            input(type='number', name="move", id='move')
        p
            button(name="grade_add",id="grade_add") Zatwierdź